# HGC Testbeam Python Package Demo

In [1]:
import geeksw.hgcal.testbeam as hgc

The runlist will show you all good runs that are available in the (hardcoded) ntuple directory, with only the essential information:

In [2]:
hgc.runlist.head()

,Run,Date,Nevents,Particle,Energy,Configuration,CaloConfiguration
136,384,2018-10-13 10:20:00,11958,electron,250,22b,1
137,385,2018-10-13 10:31:00,10161,electron,250,22b,1
138,386,2018-10-13 10:45:00,12097,electron,250,22b,1
140,389,2018-10-13 11:10:00,10305,electron,250,22b,1
141,390,2018-10-13 11:19:00,10880,electron,250,22b,1

We can use the runlist to iterate over run data. The iterator gives you both the entry in the runlist, to provide you some information, and the actual DataFrame with the HGCal rechits.

In [ ]:
columns = ["rechit_energy", "event"]

i = 0
for info, data in hgc.runlist.iterate("Energy == 50", columns=columns):
    print(data.head(5))
    if i == 2:
        break
    i += 1

Of course, you can also load individual runs:

In [4]:
hgc.load_run(1000, columns=["rechit_energy", "rechit_layer"]).head()

                rechit_energy  rechit_layer
entry subentry
0     0              0.972155             1
      1             30.829424             1
      2              1.364371             1
      3              1.363726             1
      4            104.193336             2

Or just get the information from the run table.

In [5]:
hgc.run_info(1000)

,Run,Date,Nevents,Particle,Energy,Configuration,CaloConfiguration
573,1000,2018-10-21 06:55:00,10470,electron,120,23c,2

It is also possible to load columns which are not found in the original tree, but _derived_ columns. These can be 
`rechit_dE`, `rechit_X0` or `rechit_Lambda`, where the values are looked up in another files and matched to the correct `rechit_layer` and run configurations. However, loading such a column increases the loading time quite a bit.

In [6]:
%%time
hgc.load_run(384, columns=["rechit_energy", "rechit_X0"]).head()

CPU times: user 3.6 s, sys: 3.05 s, total: 6.65 s
Wall time: 6.55 s

                rechit_energy  rechit_X0  rechit_layer
entry subentry
0     0              9.392921      0.943             1
      1              0.895975      0.943             1
      2              1.230205      0.943             1
      3              2.680023      0.943             1
      4              0.509546      0.943             1

In [7]:
%%time
hgc.load_run(384, columns=["rechit_energy", "rechit_layer"]).head()

CPU times: user 2.83 s, sys: 2.34 s, total: 5.16 s
Wall time: 5.07 s

                rechit_energy  rechit_layer
entry subentry
0     0              9.392921             1
      1              0.895975             1
      2              1.230205             1
      3              2.680023             1
      4              0.509546             1